html,body{
    height: 100%;
    width: 100%;
}

body{
    position: relative;
}

nav{
    background-color: rgb(255, 255, 255);
    color: rgb(241, 35, 35) !important;
    box-shadow: 0px 2px 7px rgba(231, 102, 102, 0.445);
}

.bg-hero{
    background-image: linear-gradient(rgba(49, 47, 47, 0.7),rgba(34, 33, 33, 0.7)),url("/media/burger.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    width: auto;
    color: #f7f7f7;
}
.center{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
}

h1{
    font-weight: 25px;
}

#about{
    height: fit-content;
    width: 100%;
    color:black;
    background-color: #fcfcfc;
}

#item{
    height: fit-content;
    background-color: #e9e5e5;
    color: black;
}

#service{
    height: fit-content;
    background-color: #f7f7f7;
    color:black;
}

#contact{
    height: fit-content;
    background-color: #e9e5e5;
    color: black;
}

.nav-pills.nav-item.active{
    background-color: rgba(248, 33, 33, 0.904) !important;
    color: #f7f7f7 !important;
}

footer{
    background-color: rgb(255, 255, 255);
    color: rgb(241, 35, 35);
    box-shadow: 0px 2px 7px rgba(231, 102, 102, 0.445);
    width: 100%;
    height: fit-content;
}

.owl-carousel{
    opacity: 0;
    transition: all 2s ease-in;
}

.fade-in{
    opacity: 1;
}

.form-control:hover{
    border: 3px solid rgb(241, 35, 35) !important;
}

#shover:hover{
    background-color: rgb(241, 35, 35) !important;
    color: #f7f7f7 !important;
}

#shover:hover h1{
    color: #f7f7f7 !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
