{% extends "master.html" %}
{% block content %}
<header class="fixed-top">
  {% include 'nav.html' %}
</header>
<section class="container-fluid bg-hero py-5" style="height: 720px;" id="home">
  <div class="center" style="width: 70%;"> 
    <div class="row my-5 center py-5">
      <div class="col-md-6 text-center mt-5">
        <img loading="eager" src="/media/bp.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 my-5">
          <h1 style="font-size: xx-large;"><strong> Hello!,Welcome to our shop</strong></h1>
          <h5 class="px-3 pt-3" style="font-weight: bold;">Hungry? Try Our Burgers Made with Half Pound Patties</h5>
          <h5 class="px-3 pb-3" style="font-weight: bold;">One Hand Is Not Enough !</h5>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid p-5 text-center" id="about">
  <h1 class="mt-5 py-3 text-danger"><strong>About us..</strong></h1>
  <div class="container col-md-8 text-start my-3 py-5">
    <h2><strong>Welcome to our  <i class="fa-solid fa-utensils text-danger"></i>  Restaurant</strong></h2>
    <hr>
    <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi suscipit, praesentium numquam laudantium magnam aliquam quis quidem maiores, non iste debitis cumque est aperiam totam repudiandae vel consequatur voluptas at?</strong></p><br>
  
    <p class="mb-5"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore molestiae necessitatibus explicabo corrupti fuga! Amet voluptates totam reprehenderit. Veritatis enim neque ea reiciendis corrupti? Impedit exercitationem esse neque alias expedita.</strong></p>
  </div>
</section>
<section class="container-fluid p-5 text-center it" id="item">
    <h1 class="mt-5 py-3 text-danger"><strong><i class="fa-solid fa-list-check"></i> items</strong></h1>
    <div class="owl-carousel owl-theme my-5 fad" id="sm">
          <div class="card h-100" id="burger">
            <img src="/media/b-bg.jpg" class="card-img-top" alt="...">
            <div class="card-body clearfix">
              <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-regular fa-burger fa-beat"></i> Burger</span></h5>
              <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
            </div>
          </div>
          <div class="card h-100">
            <img src="/media/pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body clearfix">
              <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-solid fa-pizza-slice fa-beat"></i> Pizza</span></h5>
              <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
            </div>
          </div>
          <div class="card h-100">
            <img src="/media/sandwich.jpg" class="card-img-top" alt="...">
            <div class="card-body clearfix">
              <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-solid fa-hotdog fa-beat"></i> Sandwich</span></h5>
              <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
            </div>
          </div>
            <div class="card h-100">
              <img src="/media/fries.jpg" class="card-img-top" alt="...">
              <div class="card-body clearfix">
                <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-solid fa-lines-leaning fa-beat"></i> Fries</span></h5>
                <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
              </div>
            </div>
          <div class="card h-100">
            <img src="/media/drinks.jpg" class="card-img-top" alt="...">
            <div class="card-body clearfix">
              <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-regular fa-martini-glass-citrus fa-beat"></i> drinks</span></h5>
              <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
            </div>
          </div>
          <div class="card h-100">
            <img src="/media/dessert.jpg" class="card-img-top" alt="...">
            <div class="card-body clearfix">
              <h5 class="card-title float-start"><span class="badge bg-primary"><i class="fa-solid fa-ice-cream fa-beat"></i> dessert</span></h5>
              <p class="card-text float-start text-start"><strong>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</strong></p>
            </div>
          </div>
    </div>      
</section>
<section class="adv">
  <h1 class="text-center py-4"><strong>Testimonial</strong></h1>
  <div class="owl-carousel owl-theme text-center advowl">
    <div class="advimg">
      <h2><strong>slide 1</strong></h2>
      <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat modi ea hic, temporibus quam quaerat! Consequuntur ipsam nam eaque modi illum et culpa minus. Iste accusantium fugit obcaecati rerum numquam!</strong></p>
    </div>
    <div class="advimg">
      <h2><strong>slide 2</strong></h2>
    </div>
    <div class="advimg">
      <h2><strong>slide 3</strong></h2>
    </div>
  </div>
</section>
<section class="container-fluid p-5 text-center" id="service">
  <h1 class="mt-5 py-3 text-danger"><strong><i class="fa-solid fa-gears"></i> Service</strong></h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 my-3">
    <div class="col">
      <div class="card h-100 text-start p-3" id="shover">
        <h1 class="pt-3 pb-3 ps-4" style="color: rgb(241, 35, 35);"><i class="fa-solid fa-person-dots-from-line fa-2xl"></i></h1>
        <div class="card-body">
          <h5 class="card-title"><strong>Master Chefs</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-start p-3" id="shover">
        <h1 class="pt-3 pb-3 ps-4" style="color: rgb(241, 35, 35);"><i class="fa-solid fa-utensils fa-2xl"></i></i></h1>
        <div class="card-body">
          <h5 class="card-title"><strong>Quality Food</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-start p-3" id="shover">
        <h1 class="pt-3 pb-3 ps-4" style="color: rgb(241, 35, 35);"><i class="fa-solid fa-clock-rotate-left fa-flip-horizontal fa-2xl"></i></h1>
        <div class="card-body">
          <h5 class="card-title"><strong>24x7 Service</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-start p-3" id="shover">
        <h1 class="pt-3 pb-3 ps-4" style="color: rgb(241, 35, 35);"><i class="fa-solid fa-cart-plus fa-2xl"></i></h1>
        <div class="card-body">
          <h5 class="card-title"><strong>Online Order</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid p-5 text-center" id="contact">
  <h1 class="mt-5 py-3 text-danger"><strong><i class="fa-regular fa-address-card"sss></i> Contact</strong></h1>
  <div class="container my-3">
    <div class="row justify-content-center">
        <form action="#" class="col-md-6">
            <div class="form-floating mb-3 text-danger">
                <input type="text" class="form-control border border-danger-subtle d-inline-flex focus-ring focus-ring-danger text-decoration-none border rounded-2" id="floatingInputGroup1" placeholder="Name">
                <label for="floatingInputGroup1"> Name</label>
            </div>

            <div class="form-floating mb-3  text-danger">
                <input type="email" class="form-control border border-danger-subtle d-inline-flex focus-ring focus-ring-danger text-decoration-none border rounded-2" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput"> Your Mail Id</label>
            </div>
            
            <div class="form-floating mb-3  text-danger">
                <textarea class="form-control border border-danger-subtle d-inline-flex focus-ring focus-ring-danger text-decoration-none border rounded-2" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>
            <button type="button" class="btn btn-danger float-end"> Submit</button>
        </form>
    </div>
</div>
</section>
<script>

$(function(){
  //item carousel
  $('.it .owl-carousel').owlCarousel({
        margin: 30,
        loop:true,
        autoplay:true,
        smartSpeed:300,
        responsiveClass:true,
        responsive:{
            0:{
                items:1
            },
            767:{
                items:2
            },
            1000:{
                items:3
            }
        }
  });

  //adv carousel
  $('.adv .owl-carousel').owlCarousel({
        margin: 0,
        items: 1,
        loop:true,
        autoplay:true,
        smartSpeed:500
    });

  //nav scroll
  $('body').scrollspy({ target: '#navbar' });
  
  $('.navbar-collapse a').click(() => {
    $('.navbar-collapse').collapse('hide');
  });

  $("#burger,#burger img").click(function(){
    window.location.href = "items/";
  });

  //isotope
  $('.items').isotope({
    itemSelector: '.item',
    layoutMode: 'fitRows'
  });  

  $('.menu ul li a').click(function(){
    $('.menu ul li a').removeClass('active');
    $(this).addClass('active');
    
    var selector = $(this).attr('data-filter');
      $('.items').isotope({
          filter:selector
      });
    return false;
  });

});

$(document).ready(function(){

  var controller = new ScrollMagic.Controller();

  var ourScene = new ScrollMagic.Scene({
    triggerElement: '#sm',
    triggerHook: 0.8
  })
  .setClassToggle('#sm','fade-in')
  .addTo(controller);
});
   
</script>

{% endblock %}
