<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    {% include "bootstrap5.html" %}
</head>
<body>
    {% block content %}

    {% endblock %}
    <footer class="container-fluid p-3">
        <div class="row mt-3 justify-content-center align-items-center px-2 py-1">
                <ul class="col-sm-3 col-5 border-end border-danger">
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-facebook pe-1"></i>Facebook</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-whatsapp pe-1"></i>Whatsapp</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-twitter pe-1"></i> Twitter</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-instagram pe-1"></i>Instagram</strong></a></li>
                </ul>
            <div class="col-sm-4 col-7 text-danger text-center">
                <i class="fa-solid fa-location-dot icon"></i>
                <h6 class="my-2"><strong>Adderss</strong></h6>
                <p><strong>3/26 , middle street, chennai, Tamilnadu - 641687.</strong></p>
            </div>
        </div>
    </footer>
</body>
</html>