<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    {% include "bootstrap5.html" %}
</head>
<body>
    <header class="fixed-top">
        {% include 'nav.html' %}
    </header>
    {% block content %}

    {% endblock %}
    <footer class="justify-content-center p-3">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6  align-items-center">
                <ul class="text-start">
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-facebook pe-1"></i>Facebook</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-whatsapp pe-1"></i>Whatsapp</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-twitter pe-1"></i> Twitter</strong></a></li>
                    <li><a href="#" class="text-danger"><strong><i class="fa-brands fa-instagram pe-1"></i>Instagram</strong></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h1><strong></strong></h1>
            </div>
        </div>
    </footer>
</body>
</html>