<nav class="navbar navbar-expand-lg px-5" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand h1" style="color: rgb(241, 35, 35)" href="#"><i class="fa-solid fa-burger fa-bounce"></i> Burger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#i">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="i">
            <ul class="nav nav-underline navbar-nav justify-content-end text-center flex-grow-1">
                <li class="nav-item" style="color: rgb(241, 35, 35) !important;">
                  <a id="h" class="nav-link active" style="color: rgb(241, 35, 35) !important;" href="#home"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(241, 35, 35) !important;" href="#about"><strong>About</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(241, 35, 35) !important;" href="#item"><strong>items</strong></a>
                </li>
                <li class="nav-item">
                  <a id="e" class="nav-link" style="color: rgb(241, 35, 35) !important;" href="#service"><strong>Service</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(241, 35, 35) !important;" href="#contact"><strong> contact</strong></a>
                </li>
            </ul>
        </div>
    </div> 
</nav>