{% extends 'master.html' %}
{% block content %}

<div class="flipcard m-5">
    <div class="flipcard-inner">
        <div class="card-front">
            <img src="/media/combo/combo3.jpg" alt="..." class="img-fluid">
        </div>
        <div class="card-back">
            <ul>
                <li><p><strong> burger</strong></p></li>
                <li><p><strong> fries</strong></p></li>
                <li><p><strong> pizza</strong></p> </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}